# Ignore temporary tmp files
todo.txt
notes.txt
datasetLinks.txt

# Ignore python venv
./.venv/

# Environment files
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# notebooks cache 
.ipynb_checkpoints/